
# ##############################################################################
# # PROTECT .HTACESS                                                           #
# ##############################################################################

<files ~ "^.*\.([Hh][Tt][Aa])">
  order allow,deny
  deny from all
  satisfy all
</files>

<FilesMatch "(^#.*#|\.(bak|config|dist|fla|inc|ini|log|psd|sh|env|sql|sw[op])|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes +FollowSymLinks
    </IfModule>

    RewriteEngine On

    # Para todo URL começando com os seguintes
    RewriteCond %{REQUEST_URI} ^/?(css|fonts|img|js|storage|files)(/.*)?$ [NC]
    RewriteRule ^.*$ /public/%1%2 [L]

    # Redirecionar tudo para o app, se ainda não tiver feito
    RewriteCond %{REQUEST_URI} !^/?public/index\.php [NC]

    # mas não se o URL começar com seguintes
    RewriteCond %{REQUEST_URI} !^/?(css|fonts|img|js|storage|files)(/.*)?$ [NC]

    # ou se o pedido for um arquivo real
    RewriteCond %{REQUEST_FILENAME} !-f

    # ou se a solicitação for um diretório real, mas não o diretório raiz
    RewriteCond %{REQUEST_URI} ^/?$ [OR]
    RewriteCond %{REQUEST_FILENAME} !-d

    # Reescreve o restante para o arquivo index.php pasta public
    RewriteRule ^.*$ /public/index.php [NC,L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
        
</IfModule>


ServerSignature Off

<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

FileETag None

Options -Indexes

DirectoryIndex index.html index.php index.html