@import "../core/core.scss";

.searchsubmit {
	top: 62px !important;
	height: 41px !important;
	right: 18px !important;
}
@media (max-width: 600px) 
{
	.searchsubmit {
		top: 122px !important;
		height: 41px !important;
		right: 18px !important;
	}
}